@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.header{
    width: 1440px;
    max-width: 100%;
    height: 696px;
    background-image: url(../images/mainbackground.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 110px;
}

.header__container{
    width: 1330px;
    max-width: 100%;
    height: 696px;
}

.header__nav{
    height: 141px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    width: 478px;
    list-style-type: none;
    margin-right: 110px;
    display: flex;
    justify-content: space-between;
}

.navbar__link{
    text-decoration: none;
    color:#FFFFFF;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.navbar__link_active{
    border-bottom: 2px white solid;
    padding-bottom: 8px;
}

.header__main{
    display: flex;
}

.header__info{
    width: 414px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 80px;
    margin-top: 40px;
}

.header__title{
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
}

.header__subtitle,
.header__button{
    font-size: 20px;
}

.header__button{
    width: 244px;
    height: 54px;
    color: #FFFFFF;
    background-color: #68B738;
    border: none;
}

.header__illustration{
    position: relative;
    margin-left: -23px;
}

.menu{
    display: none;
}

.header__button_mobile{
    display: none;
}

@media screen and (max-width: 768px){
    .header{
        width: 768px;
        max-width: 100%;
        height: 950px;
        background-image: none;
        padding-left: 30px;
        background-image: url(../images/product.png);
        background-size: 709px 609px;
        background-position: 100% 100%;
    }
    .header__container{
        height: 950px;
    }
    .logo{
        width: 174px;
        height: 52px;
    }
    .navbar{
        width: 440px;
        margin-right: 30px;
    }
    .navbar__link{
        color:#000000;
        font-size: 18px;
    }
    .navbar__link_active{
        border-bottom: 2px #68B738 solid;
    }
    .header__main{
        flex-direction: column;
        height: 809px;
    }
    .header__info{
        margin-left: 87px;
        margin-top: 0;
        height: 290px;
        justify-content: space-between;
    }
    .header__illustration{
        display: none;
    }
    .menu{
        display: none;
    }
    .header__button_mobile{
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .header{
        width: 320px;
        max-width: 100%;
        height: 547px;
        background-image: none;
        padding: 0;
    }
    .header__container{
        height: 547px;
    }
    .header__nav{
        height: 67px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header__logo,
    .navbar{
        display: none;
    }
    .header__main{
        height: 480px;
        background-image: url(../images/mainbackgroundmobile.png);
        background-size: 320px 305px;
        background-repeat: no-repeat;
    }
    .header__info{
        width: 320px;
        height: 170px;
        margin: 0;
        align-items: center;
        justify-content: space-evenly;
    }
    .header__title,
    .header__subtitle{
        color: #FFFFFF;
    }
    .header__illustration{
        display: block;
        width: 280px;
        height: 270px;
        margin: 0 0 0 5px;
    }
    .header__title{
        width: 249px;
        font-size: 36px;
        line-height: 1;
        text-align: center;
    }
    .header__subtitle,
    .header__button{
        font-size: 14px;
    }
    .header__button{
        display: none;
    }
    .menu{
        width: 280px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }
    .header__button_mobile{
        display: flex;
        width: 280px;
        height: 40px;
        color: #FFFFFF;
        background-color: #68B738;
        border: none;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
}
/* Third block */
.how_it_working{
    width: 1330px;
    max-width: 100%;
    height: 100px;
    margin-left: 110px;
}
.how_it_working_text{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 375px;
    line-height: 60px;
    padding-left: 90px;

}
.block{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr;
    justify-content: space-around;
    max-width: 1440px;
}
.block_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
}
.icon_block{
    max-width: 65px;
    max-height: 65px;
}

.block_1{
    background-image: url(../images/1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 230px;
    height: 280px;
    padding-left: 25px;
}
.block_2{
    background-image: url(../images/2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 246px;
    height: 280px;
    padding-left: 25px;
}
.block_3{
    background-image: url(../images/3.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 248px;
    height: 280px;
    padding-left: 25px;
}
.block_4{
    background-image: url(../images/4.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 250px;
    height: 280px;
    padding-left: 25px;
}
@media screen and (max-width: 768px){
    .how_it_working{
        display: flex;
        margin-left: 5px;
        margin-top: 0;
        height: 100px;
        justify-content: flex-start;
    }
    .how_it_working_text{
        font-family: 'Oswald', sans-serif;
        font-weight: 375px;
        font-size: 60px;
        left: 5px;
    }
    .block{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
        justify-content: space-around;
        max-width: 708px;
    }
    .block_text{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #444444;
    }
    .icon_block{
        max-width: 65px;
        max-height: 65px;
    }
    .block_1{
        background-image: url(../images/1.png);
        background-repeat: no-repeat;
        background-position: center;
        max-width: 230px;
        max-height: 280px;
        padding-left: 40px;
    }
    .block_2{
        background-image: url(../images/2.png);
        background-repeat: no-repeat;
        background-position: center;
        max-width: 246px;
        max-height: 280px;
        padding-left: 40px;
    }
    .block_3{
        background-image: url(../images/3.png);
        background-repeat: no-repeat;
        background-position: center;
        max-width: 247px;
        max-height: 280px;
        padding-left: 40px;
    }
    .block_4{
        background-image: url(../images/4.png);
        background-repeat: no-repeat;
        background-position: center;
        max-width: 249px;
        max-height: 280px;
        padding-left: 40px;
    }
}
    @media screen and (max-width: 320px) {
    .how_it_working{
        display: flex;
        text-align: center;
    }
    .how_it_working_text{
        font-family: 'Oswald', sans-serif;
        font-weight: 225px;
        font-size: 36px;
    }
    .block {
        display: flex;
        flex-wrap: wrap;
        max-width: 279px;
        max-height: 300px;
        padding: 0,5px;
    }
    .block_1, .block_2, .block_3, .block_4 {
        display: flex;
        align-items: center;
        background-image: none;
    padding: -10px;
    border: 2px color black;
    }
    .icon_block {
        margin-right: 10px;
    }
.block_text{
    padding: 10px;
}
}
/* Third block */



/* Contacts styles start */

.contacts__container {
    width: 1440px;
    max-width: 100%;
    height: 400px;
    margin-bottom: 57px;
}
.map {
    width: 100%;
    position: relative;
}
.contacts__company {
    display: flex;
    position: absolute;
    width: 570px;
    height: 201px;
    margin: 95px 760px 104px 110px;
    padding: 66px 50px 51px 76px;
    z-index: 1;
    background-color: #FFFFFF;
}
.contacts--title {
    text-transform: uppercase;
    margin-right: 87px;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
}
.address--street {
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #444444;
}
.address {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #444444;
}
.logo--geo-teg {
    position: absolute;
    z-index: 1;
    margin: 131px 419px 163px 908px;
}

/* Contacts styles end */


/* Footer styles start */

.footer__container {
    width: 1220px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 110px 58px 110px;
}
.icon-social {
    display: flex;
    align-items: center;
}
.icon-social__item {
    list-style: none;
    margin-right: 25px;
}
.icon-social__item:last-child {
    margin-right: 0;
}
.footer__logo-html {
    display: flex;
    align-items: center;
}
.logo-html--title {
    margin-right: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
}

/* Footer styles end */

@media screen and (max-width: 768px) {
    .contacts__container {
        width: 768px;
        max-width: 100%;
        height: 601px;
        margin-bottom: 55px;
    }
    .contacts__company {
        position: relative;
        width: 768px;
        margin: 0 auto;
        padding: 62px 71px 51px 71px;
    }
    .contacts--title {
        margin-right: 280px;
    }
    .address--street {
        margin-bottom: 0;
    }
    .logo--geo-teg {
        position: absolute;
        z-index: 1;
        margin: 0 auto;
    }
    .footer__container {
    width: 708px;
    margin: 100px 30px 61px 30px;
    }
}

@media screen and (max-width: 320px) {
    .contacts__container {
        width: 320px;
        max-width: 100%;
        height: 476px;
        margin-bottom: 39px;
    }
    .contacts__company {
        width: 320px;
        height: 114px;
        margin: 0 auto;
        padding: 28px 19px 22px 19px;
    }
    .contacts--title {
        margin-right: 2px;
        font-size: 20px;
        line-height: 27px;
    }
    .address--stret {
        font-size: 14px;
    }
    .address {
        font-size: 14px;
    }
    .map {
        width: 100%;
        height: 362px;
    }
    .logo--geo-teg {
        width: 20%;
    }
    .footer__container {
        width: 281px;
        display: flex;
        flex-direction: column;
    }
    .footer__logo {
        margin-bottom: 32px;
        border-bottom: 1px solid #D9D9D9;
    }
    .icon-social__item {
        margin-right: 34px;
        margin-bottom: 21px;
        border-bottom: 1px solid #D9D9D9;
    }
    .icon-social__item:last-child {
        margin-right: 0;
    }
    .footer__logo-html {
       justify-content: space-between;
    }
    .logo-html--title {
        margin-right: 0;
    }
}