@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

/* First block */

.header {
    width: 1440px;
    max-width: 100%;
    height: 696px;
    background-image: url(../images/mainbackground.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 110px;
}

.header__container {
    width: 1330px;
    max-width: 100%;
    height: 696px;
}

.header__nav {
    height: 141px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    width: 478px;
    list-style-type: none;
    margin-right: 110px;
    display: flex;
    justify-content: space-between;
}

.navbar__link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.navbar__link:hover {
    cursor: pointer;
}

.navbar__link:focus {
    outline: 3px solid #f3ae36;
}

.navbar__link_active {
    border-bottom: 2px solid white;
    padding-bottom: 8px;
}

.header__main {
    display: flex;
}

.header__info {
    width: 414px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 80px;
    margin-top: 40px;
}

.header__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
}

.header__subtitle,
.header__button {
    font-size: 20px;
}

.header__button {
    width: 244px;
    height: 54px;
    color: #FFFFFF;
    background-color: #68B738;
    border: none;
}

.header__button:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.header__button:focus {
    outline: 3px solid #f3ae36;
}

.header__illustration {
    position: relative;
    margin-left: -20px;
    max-width: 100%;
}

.header__button_mobile {
    display: none;
}

.header__button_mobile:hover {
    transform: scale(1.1);
}

.menu {
    display: none;
    position: relative;
}

.menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.menu-btn>span::before {
    content: '';
    top: -8px;
}

.menu-btn>span::after {
    content: '';
    top: 8px;
}

.menubox {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 200px;
    height: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 2;
}

.menubox__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menubox__item:hover {
    background-color: #CFD8DC;
}

#menu-toggle {
    opacity: 0;
}

#menu-toggle:checked~.menu-btn>span {
    transform: rotate(45deg);
}

#menu-toggle:checked~.menu-btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu-toggle:checked~.menu-btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu-toggle:checked~.menubox {
    visibility: visible;
    right: 0;
}

@media (min-width: 767px) and (max-width: 1024px) {
    .header {
        width: 1024px;
        max-width: 100%;
        height: 950px;
        background-image: none;
        padding-left: 30px;
        background-image: url(../images/product.png);
        background-size: 709px 609px;
        background-position: 100% 100%;
    }

    .header__container {
        height: 950px;
    }

    .logo {
        width: 174px;
        height: 52px;
    }

    .navbar {
        width: 440px;
        margin-right: 30px;
    }

    .navbar__link {
        color: #000000;
        font-size: 18px;
    }

    .navbar__link_active {
        border-bottom: 2px #68B738 solid;
    }

    .header__main {
        flex-direction: column;
        height: 809px;
    }

    .header__info {
        margin-left: 87px;
        margin-top: 0;
        height: 290px;
        justify-content: space-between;
    }

    .header__illustration {
        display: none;
    }

    .menu {
        display: none;
    }

    .header__button_mobile {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .header {
        width: 767px;
        max-width: 100%;
        height: 547px;
        background-image: none;
        padding: 0;
    }

    .header__container {
        height: 547px;
    }

    .header__nav {
        height: 67px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__logo,
    .navbar {
        display: none;
    }

    .header__main {
        flex-direction: column;
        width: 767px;
        max-width: 100%;
        height: 480px;
        background-image: url(../images/mainbackgroundmobile.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
    }

    .header__info {
        width: 320px;
        height: 170px;
        margin: 0 auto;
        align-items: center;
        justify-content: space-evenly;
    }

    .header__title,
    .header__subtitle {
        color: #FFFFFF;
    }

    .header__illustration {
        display: block;
        width: 280px;
        height: 270px;
        margin: 0 auto;
    }

    .header__title {
        width: 249px;
        font-size: 36px;
        line-height: 1;
        text-align: center;
    }

    .header__subtitle,
    .header__button {
        font-size: 14px;
    }

    .header__button {
        display: none;
    }

    .menu {
        width: 767px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px;
    }

    .header__button_mobile {
        display: flex;
        width: 280px;
        height: 40px;
        color: #FFFFFF;
        background-color: #68B738;
        border: none;
        margin: 5px auto;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 455px) and (max-width: 767px) {
    .header__button_mobile {
        background-color: #f3ae36;
    }
}

/* Second block */

.container {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    padding: 35px;
    font-family: 'Oswald', sans-serif;
    width: 1440px;
    max-width: 100%;
}

.block1,
.block2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2f2f2;
    width: 570px;
    height: 374px;
    padding: 30px;
}

.circle-content {
    display: flex;
    align-items: center;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 39px 0 23px;
}

.loss,
.gain {
    width: 264px;
    height: 36px;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

.gain {
    font-size: xx-large;
}

.pro,
.slim {
    display: flex;
    align-items: center;
    width: 264px;
    height: 30px;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

.arrow_2 {
    width: 24px;
    height: 12px;
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 28px;
}



@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 31px;
        width: 768px;
        max-width: 100%;
    }

    .block1,
    .block2 {
        background-color: #f2f2f2;
        width: 708px;
        height: 372px;
    }

}

@media screen and (max-width: 320px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 320px;
        max-width: 100%;
        padding: 20px;
    }

    .block1,
    .block2 {
        padding: 20px;

        background-color: #f2f2f2;
        width: 280px;
        height: 280px;
    }

    .loss,
    .gain {
        width: 110px;
        height: 37px;
        font-family: Oswald;
        font-size: 24px;
        font-weight: 400;
        line-height: 37px;
        letter-spacing: 0em;
        text-align: center;
    }

    .text {
        font-family: Arial, Helvetica, sans-serif;
        font-family: Arial;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        margin: 39px 0 23px;
    }

    .pro,
    .slim {
        display: flex;
        align-items: center;
        width: 264px;
        height: 30px;
        font-family: Oswald;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
    }


    .cat_back_slim {
        width: 50px;
        height: 53px;
        margin: 10px;
    }

    .cat_back {
        width: 70px;
        height: 53px;
        margin: 10px;
    }

}

/* Second block */
/* Third block */

.process__how-it-working {
    width: 1330px;
    max-width: 100%;
    height: 100px;
}

.process__text {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 375px;
    line-height: 60px;
    padding-left: 90px;
}

.block {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr;
    justify-content: space-around;
    max-width: 1440px;
}

.block__text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
}

.icon__block {
    max-width: 65px;
    max-height: 65px;
}

.block__1 {
    background-image: url(../images/1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 230px;
    height: 280px;
    padding-left: 25px;
}

.block__2 {
    background-image: url(../images/2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 246px;
    height: 280px;
    padding-left: 25px;
}

.block__3 {
    background-image: url(../images/3.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 248px;
    height: 280px;
    padding-left: 25px;
}

.block__4 {
    background-image: url(../images/4.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 250px;
    height: 280px;
    padding-left: 25px;
}

@media screen and (max-width: 768px) {
    .process__how-it-working {
        display: flex;
        margin-left: 5px;
        margin-top: 0;
        height: 100px;
        justify-content: flex-start;
    }

    .process__text {
        font-family: 'Oswald', sans-serif;
        font-weight: 275px;
        font-size: 40px;
        left: 5px;
    }

    .block {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
        justify-content: space-around;
        max-width: 708px;
    }

    .block__text {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #444444;
    }

    .icon__block {
        max-width: 65px;
        max-height: 65px;
    }

    .block__1 {
        background-image: url(../images/1.png);
        background-repeat: no-repeat;
        background-position: center;
        max-width: 230px;
        max-height: 280px;
        padding-left: 40px;
    }

    .block__2 {
        background-image: url(../images/2.png);
        background-repeat: no-repeat;
        background-position: center;
        max-width: 246px;
        max-height: 280px;
        padding-left: 40px;
    }

    .block__3 {
        background-image: url(../images/3.png);
        background-repeat: no-repeat;
        background-position: center;
        max-width: 247px;
        max-height: 280px;
        padding-left: 40px;
    }

    .block__4 {
        background-image: url(../images/4.png);
        background-repeat: no-repeat;
        background-position: center;
        max-width: 249px;
        max-height: 280px;
        padding-left: 40px;
    }
}

@media screen and (max-width: 320px) {
    .process__how-it-working {
        display: flex;
        text-align: center;
        padding: 5px;
    }

    .process__text {
        font-family: 'Oswald', sans-serif;
        font-weight: 100px;
        font-size: 26px;
    }

    .block {
        display: flex;
        flex-wrap: wrap;
        max-width: 279px;
        max-height: 300px;
        padding: 5px;
        justify-content: flex-start;
    }

    /* Fourth block*/

    .example {
        width: 1440px;
        max-width: 100%;
        margin-top: 3%;

        .block__1,
        .block__2,
        .block__3,
        .block__4 {
            display: flex;
            align-items: center;
            background-image: none;
            padding: -10px;
            border: 2px color black;
            height: 60px;
        }

        .icon__block {
            margin-right: 10px;
            padding: 10px;
        }

        .block__text {
            padding: 10px;
            font-size: 10px;
            line-height: 0.9;
        }
    }

    .example {
        width: 1440px;
        max-width: 100%;
        margin-top: 3%;
    }

    .example div {
        border: 2px grey solid;
    }

    .example__container {
        display: grid;
        grid-template-rows: 25% 70%;
        grid-template-columns: 60% 40%;
        height: 100%;
        /* background: linear-gradient(to left, #EAEAEA 30%, #F2F2F2 30%); */
        background: #EAEAEA;
    }

    .example__heading {
        display: grid;
        grid-row: 1/2;
        grid-column: 1/3;

        font-family: 'Oswald', sans-serif;
        font-size: 60px;
        font-weight: 400px;
        padding: 0.5em 90px;
        background-color: #fff;
    }

    .example__to-read {
        padding-left: 90px;
        padding-right: 10%;
        height: 100%;
        /* display: grid;
    grid-template-rows: 50% 20% 30%; */
    }

    .example__to-read>div {
        border: #68B738 solid 3px;
    }

    .example__to-read div {
        padding-top: 5%;
        padding-bottom: 3%;
    }

    .example__text {
        display: grid;
        grid-row: 1/2;
        font-family: Arial;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #444444;
    }

    .example__info {
        display: grid;
        grid-row: 2/3;
        grid-template-columns: 40% 60%;
        grid-template-rows: 40% 30%;
    }

    .example__info div {
        border: #c28ee2 solid 3px;
    }

    .example__expenses {
        display: grid;
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .example__weight,
    .example__days {
        width: 100%;
    }

    .example__weight img,
    .example__days img {
        height: 100%;
        width: auto;
    }

    .expenses__cost,
    .expenses__sum {
        font-size: 1.25vw;
    }

    .expenses__sum {
        display: grid;
        grid-column: 2/3;
    }

    .example__visual {
        display: grid;
        grid-row: 1/3;
        grid-column: 2/3;
        grid-template-rows: 73% 1fr;
        padding-right: 10%;

    }

    .example__image {
        width: 90%;
        position: relative;
    }

    .example__image img {
        width: 90%;
        height: auto;
        position: absolute;
        bottom: 0;
    }

    .example__slider {
        width: 90%;
        display: flex;
        padding-left: 20%;
        padding-top: 7%;
    }

    .example__move {
        width: 80%;
    }

    .example__move img {
        width: 100%;

    }

    .example__before,
    .example__after {
        padding: 2%;
        height: 2%;
        text-decoration: underline;
        text-decoration-color: #a8a8a8;
    }

    @media (max-width: 768px) and (min-width: 321) {
        >>>>>>>250b2ae741663780ab21af0581bea4362c863451 .example__container {
            display: grid;
            grid-template-rows: 25% 70%;
            grid-template-columns: 60% 40%;
            height: 100%;
            /* background: linear-gradient(to left, #EAEAEA 30%, #F2F2F2 30%); */
            background: #EAEAEA;
        }

        .example__heading {
            display: grid;
            grid-row: 1/2;
            grid-column: 1/3;

            font-family: 'Oswald', sans-serif;
            font-size: 60px;
            font-weight: 400px;
            padding: 0.5em 90px;
            background-color: #fff;
        }

        .example__to-read {
            padding-left: 90px;
            padding-right: 10%;
            height: 100%;
            /* display: grid;
    grid-template-rows: 50% 20% 30%; */

        }

        .example__to-read>div {
            border: #68B738 solid 3px;
        }

        .example__to-read div {
            padding-top: 5%;
            padding-bottom: 3%;
        }

        .example__text {
            display: grid;
            grid-row: 1/2;
            font-family: Arial;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #444444;
        }

        .example__info {
            display: grid;
            grid-row: 2/3;
            grid-template-columns: 40% 60%;
            grid-template-rows: 40% 30%;

        }

        .example__info div {
            border: #c28ee2 solid 3px;
        }

        .example__expenses {
            display: grid;
            grid-column: 1/3;
            grid-row: 2/3;
        }

        .example__weight,
        .example__days {
            width: 100%;
        }

        .example__weight img,
        .example__days img {
            height: 100%;
            width: auto;
        }

        .expenses__cost,
        .expenses__sum {
            font-size: 1.25vw;
        }

        .expenses__sum {
            display: grid;
            grid-column: 2/3;
        }

        .example__visual {
            display: grid;
            grid-row: 1/3;
            grid-column: 2/3;
            grid-template-rows: 73% 1fr;
            padding-right: 10%;

        }

        .example__image {
            width: 90%;
            position: relative;
        }

        .example__image img {
            width: 90%;
            height: auto;
            position: absolute;
            bottom: 0;
        }

        .example__slider {
            width: 90%;
            display: flex;
            padding-left: 20%;
            padding-top: 7%;
        }

        .example__move {
            width: 80%;
        }

        .example__move img {
            width: 100%;

        }

        .example__before,
        .example__after {
            padding: 2%;
            height: 2%;
            text-decoration: underline;
            text-decoration-color: #a8a8a8;
        }

        @media (max-width: 768px) and (min-width: 321) {

            .example__container {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 10% 20% 70%;
                background-color: rgb(243, 115, 115);
            }

            .example__heading {
                display: grid;
                grid-row: 1/2;
            }

            .example__to-read {
                display: grid;
                grid-row: 2/3;
            }

            .example__visual {
                display: grid;
                grid-row: 3/4;
            }

            .example__image {
                height: 70%;
                width: auto;
            }

        }

        .example__slider {
            width: 90%;
            display: flex;
            padding-left: 20%;
            padding-top: 7%;
        }

        .example__move {
            width: 80%;
        }

        .example__move img {
            width: 100%;

        }

        .example__before,
        .example__after {
            padding: 2%;
            height: 2%;
            text-decoration: underline;
            text-decoration-color: #a8a8a8;
        }

        @media (max-width: 768px) and (min-width: 321) {

            .example__container {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 10% 20% 70%;
                background-color: rgb(243, 115, 115);
            }

            .example__heading {
                display: grid;
                grid-row: 1/2;
            }

            .example__to-read {
                display: grid;
                grid-row: 2/3;
            }

            .example__visual {
                display: grid;
                grid-row: 3/4;
            }
        }

        /* Fifth block */


        /* Contacts styles */

        =======.contacts__container {
            width: 1440px;
            max-width: 100%;
            height: 400px;
        }

        #map {
            position: relative;
            width: 1440px;
            height: 400px;
            max-width: 100%;
        }

        .contacts__company--window {
            display: none;
        }

        .contacts__company {
            display: flex;
            position: absolute;
            width: 570px;
            height: 201px;
            top: 95px;
            right: 760px;
            bottom: 104px;
            left: 110px;
            padding: 66px 50px 51px 76px;
            z-index: 1;
            background-color: #FFFFFF;
        }

        .contacts__title {
            text-transform: uppercase;
            padding-right: 87px;
            font-size: 21px;
            font-weight: 400;
            line-height: 28px;
        }

        .contacts__address {
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            color: #444444;
        }

        .address--street {
            margin-bottom: 19px;
        }

        /* Footer */

        .footer {
            width: 1440px;
            max-width: 100%;
            height: 149px;
            background-color: #F2F2F2;
        }

        .footer__container {
            width: 1440px;
            max-width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 57px;
        }

        .icon-social {
            display: flex;
            align-items: center;
        }

        .icon-social__item {
            list-style: none;
            padding-right: 25px;
        }

        .icon-social__item:last-child {
            padding-right: 0;
        }

        .footer__logo-html {
            display: flex;
            align-items: center;
        }

        .logo-html--text {
            padding-right: 22px;
            font-size: 16px;
            font-weight: 400;
            color: #444444;
        }

        .footer--mobile-line {
            display: none;
        }

        .footer__logo--link:hover {
            cursor: pointer;
        }

        .icon-social__item--link:hover {
            cursor: pointer;
        }

        .footer__logo--link:focus {
            outline: 3px solid #f3ae36;
        }

        .icon-social__item--link:focus {
            outline: 3px solid #f3ae36;
        }

        @media screen and (max-width: 768px) {
            >>>>>>>250b2ae741663780ab21af0581bea4362c863451 .contacts__container {
                width: 1440px;
                max-width: 100%;
                height: 400px;
            }

            #map {
                position: relative;
                width: 1440px;
                height: 400px;
                max-width: 100%;
            }

            .contacts__company--window {
                display: none;
            }

            .contacts__company {
                display: flex;
                position: absolute;
                width: 570px;
                height: 201px;
                top: 95px;
                right: 760px;
                bottom: 104px;
                left: 110px;
                padding: 66px 50px 51px 76px;
                z-index: 1;
                background-color: #FFFFFF;
            }

            .contacts__title {
                text-transform: uppercase;
                padding-right: 87px;
                font-size: 21px;
                font-weight: 400;
                line-height: 28px;
            }

            .contacts__address {
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
                color: #444444;
            }

            .address--street {
                margin-bottom: 19px;
            }

            <<<<<<< HEAD
            /* Footer styles */


            =======>>>>>>>250b2ae741663780ab21af0581bea4362c863451 .footer {
                width: 1440px;
                max-width: 100%;
                height: 149px;
                background-color: #F2F2F2;
            }

            .footer__container {
                width: 1440px;
                max-width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding-top: 57px;
            }

            .icon-social {
                display: flex;
                align-items: center;
            }

            .icon-social__item {
                list-style: none;
                padding-right: 25px;
            }

            .icon-social__item:last-child {
                padding-right: 0;
            }

            .footer__logo-html {
                display: flex;
                align-items: center;
            }

            .logo-html--text {
                padding-right: 22px;
                font-size: 16px;
                font-weight: 400;
                color: #444444;
            }

            .footer--mobile-line {
                display: none;
            }

            .footer__logo--link:hover {
                cursor: pointer;
            }

            .icon-social__item--link:hover {
                cursor: pointer;
            }

            .footer__logo--link:focus {
                outline: 3px solid #f3ae36;
            }

            .icon-social__item--link:focus {
                outline: 3px solid #f3ae36;
            }



            @media screen and (max-width: 768px) {
                .contacts__container {
                    width: 768px;
                    max-width: 100%;
                    height: 601px;
                }

                .contacts__company--window {
                    display: flex;
                    align-items: center;
                    padding: 0 51px;
                    height: 201px;
                }

                .contacts__company {
                    display: flex;
                    position: absolute;
                    width: 570px;
                    height: 201px;
                    top: 95px;
                    right: 760px;
                    bottom: 104px;
                    left: 110px;
                    padding: 66px 50px 51px 76px;
                    z-index: 1;
                    background-color: #FFFFFF;
                }

                .contacts__title {
                    text-transform: uppercase;
                    padding-right: 87px;
                    font-size: 21px;
                    font-weight: 400;
                    line-height: 28px;
                }

                .contacts__address {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 400;
                    color: #444444;
                }

                .address--street {
                    margin-bottom: 19px;
                }


                /* Footer*/


                .footer {
                    width: 1440px;
                    max-width: 100%;
                    height: 149px;
                    background-color: #F2F2F2;
                }

                .footer__container {
                    width: 1440px;
                    max-width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding-top: 57px;
                }

                .icon-social {
                    display: flex;
                    align-items: center;
                }

                .icon-social__item {
                    list-style: none;
                    padding-right: 25px;
                }

                .icon-social__item:last-child {
                    padding-right: 0;
                }

                .footer__logo-html {
                    display: flex;
                    align-items: center;
                }

                .logo-html--text {
                    padding-right: 22px;
                    font-size: 16px;
                    font-weight: 400;
                    color: #444444;
                }

                .footer--mobile-line {
                    display: none;
                }

                .contacts__title {
                    padding-right: 100px;
                }

                .address--street {
                    margin-bottom: 0;
                }

                .footer {
                    width: 768px;
                    max-width: 100%;
                }

                .footer__container {
                    width: 708px;
                    max-width: 100%;
                    padding-top: 61px;
                }
            }

            @media screen and (max-width: 425px) {
                .contacts__container {
                    width: 425px;
                    max-width: 100%;
                    height: 514px;
                    align-items: center;
                }

                .contacts__company--window {
                    width: 425px;
                    max-width: 100%;
                    height: 114px;
                    padding: 0 8px;
                }

                .contacts__title {
                    padding-right: 20px;
                }

                .icon-social__item {
                    padding-right: 8px;
                }

                .logo-html--text {
                    padding-right: 8px;
                }
            }

            @media screen and (max-width: 320px) {
                .contacts__container {
                    width: 320px;
                    max-width: 100%;
                    height: 434px;
                }

                .contacts__company--window {
                    width: 320px;
                    max-width: 100%;
                    height: 114px;
                    padding: 0 19px;
                }

                #map {
                    height: 320px;
                }

                .contacts__title {
                    font-size: 20px;
                    padding-right: 0;
                }

                .contacts__address {
                    font-size: 14px;
                }

                .footer {
                    width: 320px;
                    max-width: 100%;
                    height: 236px;
                }

                .footer__container {
                    width: 281px;
                    display: flex;
                    flex-direction: column;
                    padding-top: 39px;
                    margin: 0 auto;
                }

                .footer__logo {
                    margin-bottom: 32px;
                }

                .icon-social__item {
                    padding-right: 34px;
                    margin-bottom: 21px;
                }

                .icon-social__item--image {
                    width: 16px;
                    height: 16px;
                }

                .logo-html--text {
                    padding-right: 100px;
                }

                .footer--mobile-line {
                    display: block;
                    color: #D9D9D9;
                    size: 1px;
                    width: 280px;
                    max-width: 100%;
                    margin-bottom: 20px;
                }
            }